<html>
<head>
	<meta charset="UTF-8">
	<title>Cakes</title>
</head>
<body>

    <div class="container">
  	<div class="row">
 
    <div class="col s12 m4">
      <div class="card #5d4037 brown darken-2">
        <div class="card-content white-text">
          <span class="card-title">
          	<%= @chocolate_cake.description %>
          	
           </span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          $<%= @chocolate_cake.price %>
        </div>
      </div>
    </div>
 
    <div class="col s12 m4">
      <div class="card #5d4037 brown darken-2">
        <div class="card-content white-text">
          <span class="card-title">
          	<%= @vanilla_cake.description %>
          	
          </span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          $<%= @vanilla_cake.price %>
        
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card #5d4037 brown darken-2">
        <div class="card-content white-text">
          <span class="card-title">
          	<%= @carrot_cake.description %>
          
          </span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
        	$<%= @carrot_cake.price %>

        
        </div>
      </div>
    </div>
  		
  	</div>    
  </div>
	
</body>
</html>