<html>
<head>
	<meta charset="UTF-8">
	<title>Cookies</title>
</head>
<body>

	<div class="container">
  	<div class="row food_display">
 
    <div class="col s12 m4">
      <div class="card #5d4037 brown darken-2">
        <div class="card-content white-text">
          <img  class="card_image" src="/images/mint_cookies.jpg" alt="Chocolate_Mint_Cookie">
          <span class="card-title">
          	
          	<%= @chocolate_mint_cookie.description %>
           </span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          $<%= @chocolate_mint_cookie.price %>
        </div>
      </div>
    </div>
 
    <div class="col s12 m4">
      <div class="card #5d4037 brown darken-2">
        <div class="card-content white-text">
          <img  class="card_image" src="/images/sandwich_cookies.jpg" alt="Sandwich_Cookie">
          <span class="card-title">
          
          	<%= @sandwich_cookie.description %>
          </span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          $<%= @sandwich_cookie.price %>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card #5d4037 brown darken-2">
        <div class="card-content white-text">
          <img  class="card_image" src="/images/pb_cookies.jpg" alt="Peanut_Butter_Cookie">
          <span class="card-title">
          	
          	<%= @pb_cookie.description %>
          </span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          $<%= @pb_cookie.price %>

        </div>
      </div>
    </div>
  		
  	</div>    
  </div>

	
</body>
</html>