<html>
<head>
	<meta charset="UTF-8">
	<title>Muffins</title>
</head>
<body>

	<div class="container">
  	<div class="row">
 
    <div class="col s12 m4">
      <div class="card #5d4037 brown darken-2">
        <div class="card-content white-text">
          <span class="card-title">
          
          	<%= @blue_berry_muffin.description %>
          	
           </span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
         $<%= @blue_berry_muffin.price %>
        </div>
      </div>
    </div>
 
    <div class="col s12 m4">
      <div class="card #5d4037 brown darken-2">
        <div class="card-content white-text">
          <span class="card-title">
        
          	<%= @chocolate_chip_muffin.description %>
          	
          </span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          $<%= @chocolate_chip_muffin.price %>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card #5d4037 brown darken-2">
        <div class="card-content white-text">
          <span class="card-title">
          	
          	<%= @apple_cinnamon_muffin.description %>
          
          </span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <%= @apple_cinnamon_muffin.price %>
        </div>
      </div>
    </div>
  		
  	</div>    
  </div>

	
	
</body>
</html>